a {
  color: #11999E;
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: none;
  font-family: 'Merriweather', serif;
}
a:hover{
  color: #ffffff;
}
body {
  color: #40514e;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}
p {
  line-height: 2;
}
h1 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 4.625rem;
  font-family: 'Sacramento', cursive;
  color:#66BFBF;

}
h2{
  color:#66BFBF;
  font-weight: normal;
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 10px;
}
h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}
.top-container {
  background-color: #E4F9F5;
  padding-top: 10px;
}
.middle-container{
  margin: 100px 0 50px;

}
.buttom-container{
  background-color: #66BFBF;
  padding: 50px 0 20px;
  }
.cloud_top {
  height: 100px;
  width:200px;
  position: relative;
  left: 350px;
  top:60px;

}
.mountain{
  height: 400px;
  width: 800px;
}
.cloud_buttom{
  height: 100px;
  width:200px;
  position: absolute;
}
.profile_img{
  height:200px;
  width: 200px;
  border-radius: 250px;
}
.intro{
  width:50%;
  margin: 20px auto;
}
.skill-row{
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}
.code-img{
  float: right;
  padding-left: 15px;
  width: 35%;

}
.skills-img{
  width: 35%;
  padding-right: 15px;
  float: left;
}
hr {
  width: 8%;
  border-color: grey;
  border-style: dotted none none;
  border-width: 5px;
}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
.contact-me{
  width: 50%;
  margin: 40px auto 60px;
}
.declaration{
  color: #ffffff;
  font-size: 0.75rem;
  padding: 30px 0;
}
